#i5{
    margin: 10px;/* 设置输入框上下左右，均距离10px*/
    color: #FFFFFF;
}
#i6{
    margin: 10px;
    color: #FFFFFF;
}
#i7{
    margin-top: 20px;
    margin-left: 100px;
    width: 120px;
    height: 30px;
}
body{
    background: url("../image/background3.jpg");
    width: 1000px;
    text-align: center;
}
h1{
    margin: 10px;
    color: #FFFFFF;
}
